<nav class="admin-nav" style="margin-bottom:24px;">
    <a class="btn btn--primary" asp-controller="Admin" asp-action="Index">Главная админки</a>
    <a class="btn btn--primary" asp-controller="Task" asp-action="Index">Все задания</a>
    <a class="btn btn--primary" asp-controller="Materials" asp-action="Index">Все материалы</a>
</nav>
