<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=1440">
  <title>WordWave — Модуль A1-A2</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">

</head>
<body>
  <header class="header">
    <div class="container header__container">
      <div class="header__logo">WordWave</div>
      <nav class="header__nav">
        <a class="header__nav-link" href="C:\Users\tkurt\wordwave\wordwave\Views\Home\Index.cshtml">Главная</a>
        <a class="header__nav-link" href="C:\Users\tkurt\wordwave\wordwave\Views\Obuchenie\Index.cshtml">Обучение</a>
        <a class="header__nav-link" href="C:\Users\tkurt\wordwave\wordwave\Views\Materials\Index.cshtml">Материалы</a>
        <a class="header__nav-link" href="C:\Users\tkurt\wordwave\wordwave\Views\Progress\Index.cshtml">Прогресс</a>
      </nav>
      <div class="header__actions">
        <a class="header__login" href="lk.html">Войти</a>
        <a class="header__join" href="lk.html">Присоединиться</a>
      </div>
    </div>
  </header>
  <main>
    <section class="tasks">
      <div class="tasks-header">
        <h1 class="tasks-title" >A1-A2</h1>
      </div>
      <div class="tasks-list">
        <div class="task-card task-card--done">
          <div class="task-level"><span class="task-arrow">&gt;</span>Задание 1</div>
          <div class="task-desc">Тема 1</div>
        </div>
        <div class="task-card">
          <div class="task-level"><span class="task-arrow">&gt;</span>Задание 2</div>
          <div class="task-desc">Тема 2</div>
        </div>
        <div class="task-card">
          <div class="task-level"><span class="task-arrow">&gt;</span>Задание 3</div>
          <div class="task-desc">Тема 3</div>
        </div>
      </div>
      <div class="tasks-exam-row">
        <div class="task-card task-card--exam">
          <div class="task-level"><span class="task-arrow">&gt;</span>Экзамен</div>
          <div class="task-desc">Закрепите пройденный материал и получите сертификат!</div>
        </div>
      </div>
    </section>
  </main>
</body>
</html>