@{
    ViewData["Title"] = "Задание заблокировано";
}
@section Styles {
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
}
<main>
    <div class="task-container">
        <div class="task-title">Задание заблокировано</div>
        <div style="color:#f50049;font-size:20px;margin-bottom:16px;">Попытки закончились. Попробуйте позже или обратитесь к преподавателю.</div>
        <a href="/Module/Index" class="btn btn--primary" style="margin-top:32px;">К модулям</a>
    </div>
</main>
